  
{% extends "booking/base.html" %}

{% load bootstrap4 %}    
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>{% trans "Reservation" %}</h1>
        <form class="datePick" role="form" action="" method="post">
        {% csrf_token %}


        {{ form|crispy }}
 
        <button type="submit">{% trans "Submit" %}</button>
        </form>
        <small>{% trans "Fields with * are required" %}</small>
    </div>
</div>


{% endblock content %}

