{% extends "booking/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}


<div class="col-md-12">
    
    <table class="table table-striped table-hover">
    <tr class="thead-dark">
        <th scope="col">{% trans "ID" %}</th>
        <th scope="col">{% trans "First name" %}</th>
        <th scope="col">{%trans "Last name"%}</th>
        <th scope="col">{%trans "Email"%}</th>
        <th scope="col">{%trans "Comment"%}</th>
        <th scope="col">{%trans "Amount"%}</th>
        <th scope="col">{%trans "Date"%}</th>
        <th scope="col">{%trans "Date in"%}</th>
        <th scope="col">{%trans "Date out"%}</th>
        <th scope="col">{%trans "Approved"%}</th>
        <th scope="col">{%trans "Delete"%}</th>
    </tr>
    {% for item in data %}
    <tr> 
      
        <td scope="row"><a href="{% url 'manager-update' item.id %}">{{ item.id }}</td></a>       
        <td>{{ item.firstname|truncatechars:10 }}</td>
        <td>{{ item.lastname|truncatechars:12 }}</td>
        <td>{{ item.email|truncatechars:15 }}</td>
        <td>{{ item.comment|truncatechars:16 }}</td>
        <td>{{ item.num_of_ppl }}</td>
        <td>{{ item.date_applied|date:"m-d" }}</td>
        <td>{{ item.start_date}}</td>
        <td>{{ item.end_date }}</td>
        <td>{{ item.stay_approved }}</td>
        <td><a class="btn btn-sm" href="{% url 'manager-update' item.id %}/delete"><img src="{% static "booking\recBin.png" %}" class="img-del"></a></td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'manager-print' %} ">{%trans "Print"%}</a>

{% endblock content %}



