{% extends "booking/base.html" %}
{% load i18n %}
{% block content %}
<div class="col-md-12">
    <table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">F. Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">comment</th>
        <th scope="col">people</th>
        <th scope="col">date</th>
        <th scope="col">approved</th>
    </tr>
    {% for item in data %}
    <tr> 
        
        
        <td scope="row"><a href="{% url 'manager-update' item.id %}">{{ item.id }}</td></a>
        
        
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.comment }}</td>
        <td>{{ item.num_of_ppl }}</td>
        <td>{{ item.date_applied|date:"m-d" }}</td>
        <td>{{ item.stay_approved }}</td>
    </tr>
    {% endfor %}
</table>
</div>







<form action="{% url 'manager-home' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>

{% endblock content %}



